/* src/App.css */
:root {
  --primary-color: #0073e6;
  --secondary-color: #f5f5f5;
  --textPrimary: #333;
  --textSecondary: #555;
  --background-color: #ffffff;
  --accent-color: #eaeaea;

  --font-main: 'Roboto', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
}

body {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--textPrimary);
  margin: 0;
  padding: 0;
}
